*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.attribution {
  font-size: 0.9rem;
  text-align: center;
  margin-bottom: 2em;
}

.attribution > a {
  color: #00fff7;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0;
  min-height: 100vh;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
  font-family: "Outfit", sans-serif;
  background: white;
  color: black;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

.grid {
  display: -ms-grid;
  display: grid;
}

.card {
  background: white;
  max-width: 18em;
  overflow: hidden;
  padding: 1.2em;
  border-radius: 1em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
          box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.card > .nft {
  position: relative;
}

.card > .nft > a::before {
  content: "";
  position: absolute;
  width: 100%;
  opacity: 0;
  height: 100%;
  border-radius: 0.8em;
  background: #00fff7;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.card > .nft > a > img {
  border-radius: 0.8em;
}

.card > .nft > .view {
  position: absolute;
  bottom: 0;
  top: 40%;
  left: 40%;
  width: 20%;
  opacity: 0;
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.card > .nft:hover > a::before {
  opacity: 50%;
}

.card > .nft:hover .view {
  opacity: 1;
}

.card > .details > .nft-number + .nft-details {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.card > .details > .nft-number > a {
  color: black;
}

.card > .details > .nft-number > a:hover {
  color: #00fff7;
}

.card > .details > .nft-details {
  font-size: 1rem;
  color: #8bacda;
  font-weight: 300;
}

.card > .details > .cost {
  color: #00fff7;
}

.card > .details > .cost::before {
  vertical-align: middle;
  content: url(../images/icon-ethereum.svg);
  margin-right: 0.5em;
}

.card > .details > .cost > a {
  color: #00fff7;
  text-decoration: none;
}

.card > .details > .cost > a:hover {
  color: #00fff7;
}

.card > .details > .cost::after {
  content: "";
  height: 1px;
  background: #00fff7;
  display: block;
  width: 80%;
  margin: 0.5em auto;
}

.card > .details > .cost > .amount {
  font-size: 2rem;
  font-weight: 400;
  margin-top: 1em;
}

@media (min-width: 30em) {
  .card {
    max-width: 20em;
  }
}

@media (min-width: 40em) {
  .card {
    max-width: 22em;
  }
}

@media (min-width: 50em) {
  .card {
    max-width: 24em;
  }
}

@media (min-width: 60em) {
  .card {
    max-width: 26em;
  }
}

@media (min-width: 70em) {
  .card {
    max-width: 28em;
  }
}

@media (min-width: 80em) {
  .card {
    max-width: 30em;
  }
}
